<!-- <div mwlDraggable dropData="foo">
  Drag me!
</div> -->
<span *ngFor="let form of formFields">
  <div mwlDraggable dropData={{form.name}}>
    {{form.name}}
  </div>
</span>
<!-- <div mwlDraggable dropData="bar" [dragSnapGrid]="{x: 100, y: 100}">
  I snap to a 100 x 100 grid
</div> -->
<div
  [class.dropOverActive]="dropOverActive"
  mwlDroppable
  (dragEnter)="dropOverActive = true"
  (dragLeave)="dropOverActive = false"
  (drop)="onDrop($event)">
  <span *ngFor="let form of newForm">
    <div [innerHTML]="form"></div>
  
  </span>

  <!-- <span [hidden]="droppedData">Drop here</span>
  <span [hidden]="!droppedData">Item dropped here with data: "{{ droppedData }}"!</span> -->
</div>